nav {
    background-color: #260058;
    padding: 5px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    padding-top: 0.5em;
}
nav ul li a:hover {
    color: #ffffff;
}
a{
    color: rgb(255, 255, 255);
    padding-right: 1em;
}
.liste{
    color: black;
}


.text-bg-warning{
    width: 15%;


}
body{
background-image:url(img/commerce.jpg) ;
background-size: cover;
height: 100vh;

}
.panier-link {
    position: relative;
    display: inline-block;
    padding-right: 15px;
    color: black;
    text-decoration: none;
}

.badge {
    position: absolute;
    top: -13px;
    left: 80px;
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 7px;
    font-weight: bold;
}


.uk-table-small{
    background-color: #adadad;
    padding: 1em;
    color: white;
    border-radius: 10px;

}
.buttonvide{
    padding: 3em;
}

.indexcontainer{
    width: 30%;
    padding: 3em;
    margin-left: 3em;
    margin-top: 3em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #adadad;
    border-radius: 10px;
}

.uk-alert-success, .uk-alert-danger {
    font-size: 16px;      /* Taille du texte */
    padding: 10px 15px;   /* Espace interne */
    border-radius: 5px;   /* Coins arrondis */
    max-width: 400px;     /* Largeur maximale */
    margin: 10px auto;    /* Centrage de l'alerte */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.uk-icon{
    display: block;

}

.uk-alert-warning{

    width: 30%;
}
.uk-alert-success{
    width: 30%;
    
}

.uk-alert-danger{
    width: 30%;
}

.container {
    margin: 20px auto;
    max-width: 80%;  /* Ajustez la largeur comme nécessaire */
}

.prodretirer {
    background-color: #ffcc00;
    color: black;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 15px;
}
.indexcontainer.h1{
    color: white;
}

p{
    color: white;

}

.uk-card{

    width: 20%;


}

.uk-button{
    color: white;
    background-color: white;

}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;  /* Pour l'espacement entre les icônes */
}

.tab a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #000; /* Couleur de l'icône (à personnaliser) */
}

.tab span {
    font-size: 20px;  /* Taille de l'icône, ajustable selon vos préférences */
}

